<div class="event-dialog">
	<h3>{{ day.date | date: 'fullDate' }}</h3>
	<div class="events">
	  <ng-container *ngIf="day && day.events && day.events.length > 0; else noEvents">
		<div class="event" *ngFor="let event of day.events; let i = index">
		  {{ event.title }}
		  <button class="delete-button" (click)="deleteEvent(i)">Delete</button>
		</div>
	  </ng-container>
	</div>
  
	<div>
	  <ng-template #noEvents>
		<p class="no-events-message">No events scheduled for this day.</p>
	  </ng-template>
	</div>
  
	<div class="add-event">
	  <input [(ngModel)]="newEvent.title" placeholder="Enter Event Title" />
	  <button class="add-button" (click)="addEvent()">Add Event</button>
	</div>
  </div>
  